.movie-page {
  padding: 20px;
  text-align: center;
}

.top {
    display: flex;
    justify-content: center;
}

.top h1 {
  color: white;
  background-color: hsl(0, 0%, 0% , 0.2);
  padding: 3vb;
  border-radius: 5vb;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card h3 {
  margin: 10px 0;
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: var(--e);
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #404040;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }

  .movie-card h3 {
    font-size: 14px;
  }

  .pagination button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .pagination span {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
  }

  .movie-card h3 {
    font-size: 12px;
  }

  .pagination button {
    padding: 6px 10px;
    font-size: 12px;
  }

  .pagination span {
    font-size: 12px;
  }
}